<%# <h1>Editing service</h1> %>

<%= render 'form' %>

<%= link_to t("Show"), @service, :class => "btn btn-success" %> |
<%= link_to t("Back"), services_path, :class => "btn btn-silc wizard-prev" %>

