<%# <h1>Editing customer</h1> %>

<%= render 'form' %>

<%= link_to t("Show"), @customer, :class => "btn btn-success" %> |
<%= link_to t("Back"), customers_path, :class => "btn btn-silc wizard-prev" %>

